@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-color: lightgoldenrodyellow;
}
h1{
    font-family: 'Calistoga', cursive;
    color: blue;
}
.jumbotron{
    background-color: whitesmoke

}
#logox{
    height: 10vh;
}
#subh{
    font-family: 'Calistoga', cursive;
}